body,
div,
nav {
    font-family: 'Inter', sans-serif !important;
}

ul li {
    display: inline;
}

ul li.bloque {
    display:block;
}

/* ICONOS */
.icono {
    height: 2em;
    width : 2em;
}

/* PRIMERA BARRA */
.topBarra {
    background   : #000000;
    margin-bottom: 0px !important;
}

.iconos-social-top li a {
    font-size: 1.5em !important;
}

.topBarradiv ul li {
    float         : right;
    /* display    : inline; */
    margin-left   : 2em;
}

.topBarradiv ul li a {
    font-weight: lighter;
    color      : #FFF;

}


.topBarradiv ul li a img {
    margin-left: .3em;
}

.navbar-toggler-icon {
    border-color: #fc6625 !important;
}

.navbar {
    border-radius: 0% !important;
    margin-bottom: 0% !important;
    min-height   : 0% !important;
}

.navbar-expand-md {
    padding-bottom: 0% !important;
}

.boton {
    padding-left: 0% !important;
}

.barratema,
.breadcrumb {
    background-color: #8f9499 !important;
    font-weight     : bold;
    font-family     : 'DM Serif Text' !important;
}

.breadcrumb li a:hover{
    color: #eea383 !important;
    font-weight: lighter !important;
}

.breadcrumbDiv {
    padding: 0% !important;
}

.navbar-nav {
    margin-bottom: 0% !important;
}

.breadcrumb {
    border-radius: 0% !important;
    margin-bottom: 0px !important;
}

ol.breadcrumb {
    padding-left: 3% !important;
}

.breadcrumb li {
    font-size: 1.6em;
}

.breadcrumb li a {
    color      : #FFF;
    font-weight: bolder;
}

.affix {
    top    : 0;
    width  : 100%;
    z-index: 9999 !important;
}

.affix~.container-fluid {
    position: relative;
    top     : 3.1em;
}

@media only screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        width: 80%;
    }
}

#myNavbar {
    background: #94938f;
    color     : white;
}

.cabeceraBlanca {
    background-color: white;
    padding         : 0%;
    margin          : 0%;
    clear           : both;
}


.navbar-toggler {
    background-color: #000000;
}

/* BOTON BUSQUEDA */
/* CAJA DE BUSCAR EN EL ENCABEZADO */

@media (max-width:576px) {

    /* Los estilos aquí contenidos solo se aplicarán a partir
    del tamaño de pantalla indicado */
    .col-xs-6 {
        width     : 50% !important;
        text-align: center !important;
    }
}

.form-inline {
    display       : flex !important;
    flex-flow     : row wrap !important;
    align-items   : stretch !important;
    flex-direction: column !important;

}

.input-group {
    display        : flex !important;
    justify-content: space-evenly !important;
    flex-direction : row !important;
    align-content  : stretch !important;
    align-items    : stretch !important;
    flex-wrap      : nowrap !important;
}

/* MENU PRINCIPAL */
header,
footer {
    background: #474747;
}

.menu-principal {
    margin    : 0;
    padding   : 0;
    width     : 100%;
    background: #8f9491;
}

ul li {
    display: inline;
}


a.nav-link {
    color: white;
}

.topnav li a {
    color          : rgb(128, 0, 53);
    text-decoration: none;
    /* font-size   : 1.6em; */
}


/* Change the color of links on hover */

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.open>a:focus {
    color: rgb(128, 0, 53);
}

.navbar-default .navbar-nav>li>a:hover,
.dropdown:hover .dropbtn {

    /* border: 3px solid #45AED6; */
    color           : white;
    background-color: rgb(128, 0, 53);
}

.btn-primary {
    background-color: #fc6625 !important;
    border          : #fc6625 0.06em solid !important;
    font-size       : 1em !important;
}

.btn-info {
    background   : #0000ff !important;
    margin-bottom: 0em !important;
    font-size    : .7em !important;
}


.separacion {
    margin-left: 2em;
}

a.nav-link {
    font-size: 1.7em !important;
}

ul li.nav-item {
    display    : inline;
    margin-left: 1.6em;
}

ul li.nav-item a.nav-link:hover {
    background-color: #fc6625 !important;
    color           : white;
    font-weight: bold !important;
}

.dropdown-menu>li a{
    font-size: 1.7em !important;
}

.dropdown-menu>li a:hover {
    color           : white !important;
    background-color: #fc6625 !important;
    font-weight: bold !important;
}


/* LOGO */
.navLogo {
    background-color: white;
    border-radius   : 0px;
    margin-top      : 0px;
    margin          : 0%;
    padding         : 0% !important;
    margin          : 0% !important;

}


.img-fluid {
    width: 100%;
}

.logo {
    width: 50%;
}

#slider {
    background-color: #474747;
    padding-right   : 0% !important;
    padding-left    : 0% !important;
}


/* SECTION */
section {
    padding-bottom: 0%;
    height        : min-content;
}

.sinPad {
    padding: 0% !important;
}

/*ERROR 404*/
#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.error{
	  display: table-cell;
	  vertical-align: middle;
}

.error h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

.cabecera-seccion {
    /* background              : #f8f4f4; */
    background                    : #f7f7f7;
    /* margin-top                 : 3em; */
    margin-bottom                 : 0% i !important;
    margin-top                    : 0em;
    font-size                     : 1.8em;
    font-weight                   : 400;
    text-align                    : center;
    /* margin                     : 0 0 25px;  */
    padding                       : 1.2em;
    /* border-radius              : 35px 35px 35px 35px; */
    border-radius                 : 0px;
    /* -moz-border-radius         : 35px 35px 35px 35px; */
    /* -webkit-border-radius      : 35px 35px 35px 35px; */
    border                        : 2px solid #f8f4f4;
    display                       : flex;
    flex-direction                : column;
    flex-wrap                     : wrap;
    align-content                 : center;
    display                       : grid;
    justify-content               : center;
    align-items                   : center;

}

.texto {
    padding: .3% 8%;
}

.cabecera-seccion {
    min-height: 500px !important;
}

.cabecera-seccion h1,
.cabecera-seccion h4 .cabecera-seccion p {
    text-align: center;
}

.cabecera-seccion h1 {

    color      : #fc6625;
    font-weight: bold;
}

.cabecera-seccion form p {
    font-size  : .7em;
    line-height: 1em;

}

.cabecera-seccion p {
    font-weight: normal;
    line-height: 2;

}

.cabecera-seccion span a {
    float       : none;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}


/* FOOTER*/
footer.container-fluid {
    padding-right: 0% !important;
    padding-left : 0% !important;
    margin-left  : 0% !important;
    margin-right : 0% !important;
}

.footer1 {
    background-color: #474747;
}

.footer1 img {
    width: 100%;
}

.footer2 {
    clear           : both;
    background-color: #FFF;
    text-align      : center;
    font-size       : 1.7em;
}


.footer2 ul {

    padding-bottom: 0%;
    margin-bottom : 0%;
    padding-left  : 0%;
    margin-left   : 0%;
}

/* glyphicon */
.fab {
    color    : white;
    font-size: 5em;
}

.fab:hover {
    color: #fc6625;
}

.footer1 {
    display        : table;
    /* Allow the centering to work */
    margin         : 0 auto;
    width          : 100%;
    align-items    : center;
    justify-content: center;
}

.redesnombre {
    padding-right: 0% !important;
    padding-left : 0% !important;
    /* display   : table; */
}

ul.iconos-social {
    list-style-type   : none;
    margin            : 0;
    padding           : 0% !important;
    display           : flex;
    justify-content   : center;
    font              : 2em;
}

ul.iconos-social li {
    display   : inline;
    margin    : 22px;
    margin-top: 32px;
}

/*CONTACTO*/
.form-row,
.form-group {
    align-items    : center;
    justify-content: center;
}


.rojo {
    color: red;
}

.azul {
    background: #0000ff !important;
    color     : white !important;
    opacity   : 1 !important;
}

.rosa_tabla {
    background-color: rgba(252, 102, 37, 0.4) !Important;
    color           : #000000 !important;
    opacity         : 1 !important;
    font-weight     : bold !important;
}

.gris {
    background: #555555 !important;
}


/* PRODUCTOS */

#detalleProducto,#detalleCurso {
    font-size: 1em !important;
}

.cuadro {
    background   : #fc6625;
    padding      : 1%;
    margin-bottom: 5%;
    color        : #FFF;
    font-size    : 3vh;
}

.separado {
    letter-spacing: 0.01em;

}

.precio {
    font-size: 150% !important;
}

.precioDetalle {
    font-size : 2em !important;
    color     : #2E2E2E;
    text-align: left !important;
}

.iva {
    font-size: .5em !important;
    color    : #f7f7f7;
}

.opaca {
    opacity: 0.6;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

/* CURSOS */
.detalles p {
    text-align   : left !important;
    padding-left : 1em !important;
    padding-right: 1em !important;
    margin-bottom: 2% !important;
}

.detalles p.letrapequena {
    font-size  : .5em !important;
    color      : #f8f4f4 !important;
    font-weight: bolder !important;
    padding-top: .1em !important;
}



.textoEnlace {
    font-size  : 95% !important;
    color      : #000000 !important;
    font-weight: 600 !important;
}

.negrita {
    font-weight: bold !important;
    color      : #000000 !important;
}

p.derecha {
    text-align   : right !important;
    padding-right: 1em !important;
}

.derecha {
    text-align   : right !important;
    padding-right: 1em !important;

}

.letraAzul {
    color      : #0000ff !important;
    font-weight: bolder !important;
    text-align : left !important;
}

.panelCentral {
    text-align: center;
    background: #a4a4a4;
    padding   : 2em !important;
}

iframe {
    width : 100% !important;
    height: 320px !important;
}

/* REGISTRO */
.registro {
    background-color  : rgba(252, 102, 37, 0.4);
    border-radius     : 1em;
    /* opacity        : 0.9  ; */
    margin            : 0 auto !important;
    padding-top       : 1.5em;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: grid !important;
}

.formulario_label {
    display    : block;
    font-weight: 700;
    padding    : 10px;
    cursor     : pointer;
}

.formulario_input:focus {
    border    : 1px solid #0000ff !important;
    outline   : none;
    box-shadow: 3px 0px 3px rgb(163, 163, 163, 0.4);
}

/* ESTILOS PARA VALIDACION */
.formulario_input {
    width        : 90%;
    background   : #fff;
    border-radius: 3px;
    height       : 35px;
    line-height  : 100%;
    padding      : 0 0px 0 0px;
    transition   : .3s ease all;
    border       : 1px #2E2E2E solid;
}

.formulario_input-error {
    font-size    : 12px;
    margin-bottom: 0;
    display      : none;
    padding      : .5em;
}

.formulario_input-error-activo {
    display: block;
}

.formulario_validacion-estado {
    opacity: 0;
}

.formulario_checkbox {
    margin-right: 10px;
}


.formulario_mensaje {
    display: none;
}

.formulario_mensaje-activo {
    display: block;
}

.formulario_mensaje p {
    margin: 0;
}


input[type='button']:hover,
button:hover,
input[type='submit']:hover,
button[type='submit']:hover,
input[type='reset']:hover {
    background: #f57e4c !important;
    box-shadow: 5px 0px 50px (163, 163, 163, 1);
}

.formulario_mensaje-exito {
    color        : #119200;
    font-size    : 12px;
    margin-bottom: 0;
    display      : none;
}

.formulario_mensaje-exito-activo {
    display: block;

}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
    color  : #1ed12d;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
    color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
    color  : #bb2929;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
    border: 1px solid #bb2929;
}



/* LOGIN */
a.passOlvidada {
    font-size: .8em;
}


/* CESTA */
.panel {
    width: 100% !important;

}

.sinMargin {
    margin: 0% !important;
}

.panel-default>.panel-heading {
    background-color: rgba(252, 102, 37, 0.4) !Important;
    width           : 100% !important;
}

.tarjeta-div span {
    padding-top: 10px;
}

.tarjeta-div img {
    padding-top: 1em;
}

.tarjeta-div .letra-peq {
    font-size: 9px;
}

.tarjeta-div .pad-adjust {
    padding-top: 10px;
}

/* COOKIES */
#cookies {
    position        : fixed;
    bottom          : 0px;
    left            : 0px;
    width           : 100%;
    height          : 15%;
    background-color: white;
    box-shadow      : 0px -5px 15px gray;
    padding         : 7px;
    font-size       : 1.5em;
    text-align      : center;
    z-index         : 99;
}

#aceptarCookies {
    /* background-color: #2E2E2E !important; */
    font-size: 0.7em !important;
}


/* ADMINISTRACION */
.panel-padre {
    position: relative;
    /* para poder posicionar el texto de forma absoluta */
    display : inline-block;
    /* para que solo ocupe el ancho de la imagen */
}

.panel-padre:hover {
    background-color: #fc6625;
}


.tablaMuestraProductos {
    position: absolute;
}

fieldset {
    margin-bottom: 2.5em !important;
}

form label,
table tr,
table th,
table td {
    font-size: 1em;
}

@media screen and (max-width: 320px) {
    table {
      display: block !important;
      overflow-x: auto !important;
    }
}
/* BLOG */

.mini {
    font-size: 0.01em;
}

.list-group-item{
    background: transparent !important;
    border: transparent !important;
}

.izquierda {
    text-align: left !important;
}
.derecha {
    text-align: right !important;
}

.izquierda div {
    padding-left: 0% !important;
}


.iconos {
    text-align: center;
    background: #8f9491;
}

.fecha {
    color      : #2E2E2E;
    font-weight: lighter;
    font-size  : .5em;
}

th {
    background-color: rgba(252, 102, 37, 0.4) !Important;
    font-size       : 100% !important;
}


.espacio {
    margin-bottom: 1em !important;
    margin-top   : 1em !important;
}

h2.espacio {
    margin-bottom: 2em !important;
    margin-top   : 2em !important;
}


.contenedor {
    position     : relative;
    display      : inline-block;
    text-align   : center;
    margin-bottom: 2em;
}

.centrado {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.facebook {
    background: #3b5998;
}

.youtube {
    background: #bb0000;
}

.twitter {
    background: #55acee;
}

.instagram {
    background: #125688;
}

.facebook,
.youtube,
.twitter,
.instagram {
    border-radius: .2em;
}

.imagenAutor {
    width: 7em;
}

.imagenComentario {
    width: 5em;
}

@media (min-width: 768px) {
    div.sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
        top     : 0;
        padding : 5px;

    }
}

.comentarios {
    margin-bottom: 1.5em !important;
    margin-top   : 1.7em !important;
    font-size    : 0.9em;
    border-bottom: .1px solid #a4a4a4;
}

p.letraGrisPequena {
    font-size : .5em;
    color     : #555555;
    font-weight: bolder;
    display   : inline;
    
}

label.letraGrisPequena {
    font-size : .8em;
    color     : #555555;
    font-weight: bolder;
    display   : inline;
}

h2 {
    font-family  : 'DM Serif Text' !important;
    font-size    : 1.8em !important;
    margin-bottom: 1em !important;
}

h3,
h4,
h5 {
    font-family: 'DM Serif Text' !important;
    font-size  : 1.2em !important;
}

h4 {
    margin-top: 0% !important;
}

.esp {
    margin-top   : 1em !important;
    margin-bottom: 1em !important;
}

.margen {
    margin: 2% 0;
}

.estrella {
    font-size: 1.5em !important;
    color    : grey;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction   : rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

.estrella:hover {
    font-size: 1.5em !important;
    color    : orange;
}

.estrella:hover~.estrella {
    font-size: 1.5em !important;
    color    : orange;
}

input[type="radio"]:checked~.estrella {
    font-size: 1.5em !important;
    color    : orange;
}

.blanco {
    color: white !important;
}

.negro {
    color: black;
}

.blanconegrita {
    font-weight: bold !important;
    color: white;
}

.textocookies {
    font-size: 1.5em !important;
}

.alert-success {
    font-size: 1.5em !important;
}